.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
}

.card-form {
  width: 340px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin-bottom: 2px;
}
